:root {
  --pico-font-family: "Monaco";
  --pico-font-size: 70%;
  --pico-border-radius: 0.5rem;
  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

main {
  flex: 1;
}

.main img {
  width: 100vw; /* Makes image width 100% of viewport width */
  height: 100vh; /* Makes image height 100% of viewport height */
  object-fit: cover; /* Ensures the image covers the viewport without distortion */
  position: absolute;
  top: 0;
  left: 0;
}

.image-container {
  position: relative;
  width: 100vw;
  height: 100%;
}

.full-screen-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#screen {
  display: flex;
  height: 100%;
}

#screenLeft {
  flex: 1;
  width: 100%;
}
#screenRight {
  flex: 1;
  width: 100%;
}

#datePicker {
  letter-spacing: -0.5px;
}

.range {
  width: 170px;
}

.control {
  display: flex;
  line-height: 1.5rem;
  column-gap: 4px;
  align-items: center;
}

#nextUpdateDisplay {
  font-size: 10px;
  text-align: left;
  color: orangered;
}

#currentTime {
  font-weight: bolder;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 4rem;
}

.flex-type {
  display: flex;
  line-height: 1rem;
  column-gap: 1rem;
  align-items: center;
}

button.outline {
  background-color: white;
  width: 45px; /* 버튼의 폭 줄이기 */
  font-size: 12px; /* 글씨 크기 줄이기 */
}

footer {
  background: rgba(240, 240, 240, 0.8);
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  line-height: 3rem;
  width: 100%;
}

footer small {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

footer fieldset {
  display: inline-block;
  margin: 0;
  width: 120px;
}

footer > div input[type="datetime-local"] {
  width: 180px;
  font-size: 12px;
  text-align: center; /* 텍스트를 가운데로 정렬 */
}


footer > div input:not([type="checkbox"], [type="radio"]),
select,
textarea {
  margin: 0;
}

[type="checkbox"] ~ label:not(:last-of-type),
[type="radio"] ~ label:not(:last-of-type) {
  margin-inline-end: 0em;
}

[type="checkbox"],
[type="radio"] {
  margin-inline-end: 0em;
}

footer [type="button"],
[type="reset"],
[type="submit"] {
  margin-bottom: 0;
}

footer button.outline {
  padding-left: 5px;
  padding-right: 2px;
}

@media (max-width: 768px) {
  .container-fluid {
    flex-wrap: wrap;
    height: auto;
  }
  body {
    overflow-x: hidden;
  }

  footer {
    padding-left: 5px;
    padding-right: 5px;
  }

  .full-screen-image {
    position: static;
  }

  #screen {
    display: block;
  }
}

select {
  text-align: left;
  width: 95px; /* 원하는 너비로 설정 */
}

.widget-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* 추가 위젯을 한 줄에 3개씩 배치하기 위해 필요한 설정 */
}

.widget {
  flex: 0 0 calc(32% - 10px); /* 32%로 수정 (3개 위젯이 한 줄에 들어가도록) */
  /*margin: 10px;*/
  margin: 0px;
}

.widget iframe {
  /*width: 100%;*/
  width: 850px;
  height: 850px;
  border: 0;
}

/* 2024.10.23 모바일 > screen 설정 */
@media screen and (max-width: 600px) {
    footer.center {
        width: 100%;
    }
}

/* 2024.10.23 모바일 > #widget-fore5 iframe  설정 */
@media screen and (max-width: 600px) {
  #widget-fore5 iframe {
    width: 430px;
    height: 800px;
  }
  #widget-fore9 iframe {
    width: 430px;
    height: 800px;
  }
  #widget-fore10 iframe {
    width: 430px;
    height: 800px;
  }
  #widget-fore11 iframe {
    width: 430px;
    height: 800px;
  }
  #widget-fore12 iframe {
    width: 430px;
    height: 800px;
  }
}
